<div class="jumbotron">
    <h1 class="display-4"><b>Sobre comics</b></h1>
    <hr class="my-4">
    <p>
        Los superhéroes son una creación norteamericana que empezó a idearse allá por los años 20, sin embargo, fue Supermán el que en el año 1938 abrió el camino para este mundo del cómic. A partir de ahí fueron todos apareciendo siempre con la idea común de ayudar al mundo y colaborar y luchar por el bien.
    </p>
    <p>
        Los primeros héroes fueron Supermán, Batman, la Antorcha Humana o Namor, la verdadera edad de Oro para el mundo del cómic llegó en los años 60. En aquella época aparecieron Los 4 Fantásticos, Hulk, y Spiderman entre otros muchos. Stan Lee y Jack Kirby fueron los dos grandes que se merecen la mención especial de aparecer con letras de oro en la historia del cómic, porque de sus lápices surgieron los mejores superhéroes y las mejores aventuras.
    </p>
    <p>
        Las dos principales compañias que se han encargado de hacer muchas de las historias que conocemos hoy en dia en el mundo de los comics son <strong> MARVEL</strong> y<strong> DC Comics</strong>, cada una cuenta no solo con uno, sino con muchos superhéores insignia y cada uno de estos cuenta con una gran cantidad de historias que sin duda te daran una gran cantidad de horas de entretenimiento si lo que buscas es entrar en este mundo.
    </p>
    <div class="contenedor"> 
        <img class="imagen" src="../../assets/img/comics.jpg" alt="" >
    </div>
    <br><br>
</div>