<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="../../favicon.ico" alt="Imagen no encontrada">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse centrar" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/heroes']">Heroes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/lista']">Lista de usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/video']">Videos relacionados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/filtrar']">Filtro</a>
          </li>
        </ul>
        <!--
        <form class="d-flex">
          <input id="inputEjemplo" class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        -->
        <div class="form-inline my-2 my-lg-0">
          <input class="forma-control mr-sm-2" type="text" placeholder="Buscar Heroe" #buscarTexto (keyup.enter)="buscarUnHeroe(buscarTexto.value)">
          <button (click)="buscarUnHeroe(buscarTexto.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
        </div>
      </div>
    </div>
</nav>