<!-- Example single danger button -->
<div class="btn-group">
  <button
    type="button"
    class="btn btn-info dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Escoje una casa
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" (click)="casaEle('Marvel')">MARVEL</a></li>
    <li><a class="dropdown-item" (click)="casaEle('DC')">DC</a></li>
  </ul>
</div>
<br><br>
<div class="card-columns" >
    <div *ngFor="let h of misHeroes, let i=index">
        <div class="card p-3" *ngIf="darEle(h)">
            
            <img src="{{h.img}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{h.nombre}}</h5>
                <p class="card-text">{{h.bio}}</p>
                <p class="card-text"><small class="text-muted">{{h.aparicion}}</small></p>
            </div>
            <a [routerLink]="['/heroe',i]" class="mb-3 btn btn-outline-primary btn-block">VerMás</a>
            
        </div>
    </div>
    
</div>
